.footer {
    &__top {
        display: grid;
        grid-template-columns: 1fr;
        gap: rem(26);

        @media (min-width: $bp-md) {
            grid-template-columns: repeat(3, auto);
            gap: rem(60) rem(26);
        }

        @media (min-width: $bp-lg) {
            grid-template-columns: repeat(6, auto);
            gap: rem(26);
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: $space-1;

        &>p {
            margin: 0;
        }

        @media (min-width: $bp-lg) {
            gap: $space-2;
        }
    }

    &__links {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: $space-1;

        a {
            color: $color-text;
            text-decoration: none;
            transition: 0.3s ease;

            &:hover,
            &:focus-visible {
                color: $color-primary;
            }
        }

        @media (min-width: $bp-lg) {
            gap: $space-2;
        }
    }

    &__social {
        display: flex;
        gap: rem(12);

        &-link {
            display: flex;
            list-style: none;
            gap: $space-5;
        }
    }

    &__bottom {
        background-color: $color-text;
        color: $color-bg;
        padding-block: rem(25);
        font-size: $fs-sm;

        &-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: rem(12);
            flex-wrap: wrap;

            &>p {
                color: $color-bg;
                margin: 0;
            }
        }
    }
}