
.hero {
    background: linear-gradient(to bottom, $color-bg-light 0%, $color-bg 55%);
    padding-block: $space-5;
    overflow: hidden;

    @media (min-width: $bp-md) {
        padding-block: rem(56);
    }

    @media (min-width: $bp-lg) {
        padding-block: $space-5 rem(100);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $space-2;
    }

    &__heading {
        text-align: center;
    }

    &__subtitle {
        font-size: rem(30);
        color: $color-text;
        margin-bottom: 0;

        @media (min-width: $bp-md) {
            font-size: rem(50);
            margin-left: -50%;
        }
    }

    &__title {
        font-size: $fs-xxl;
        width: 100%;
        font-weight: 800;
        line-height: 1.1;

        @media (min-width: $bp-md) {
            font-size: rem(48);

            margin-bottom: rem(32);
            white-space: nowrap;
            margin-left: 15%;
            ;
        }

        @media (min-width: $bp-lg) {
            font-size: rem(56);
        }
    }

    &__cards--mobile {
        display: flex;
        width: 100%;
        margin-top: $space-2;
        flex-direction: column;

        @media (min-width: $bp-md) {
            .card__body:nth-of-type(1) {
            top: rem(50);
            left: rem(60);
            }

            .card__body:nth-of-type(2) {
            top: rem(160);
            left: rem(20);
            }

            .card__body:nth-of-type(3) {
                top: rem(270);
            }
        }
        

        @media (min-width: $bp-lg) {
            display: none;
        }

        .card__body {
            position: absolute;
            padding: rem(10);
        }

        .card__body:nth-of-type(1) {
            top: rem(50);
            left: rem(60);
        }

        .card__body:nth-of-type(2) {
            top: rem(160);
            left: rem(20);
        }

        .card__body:nth-of-type(3) {
            top: rem(270);
        }

        .card__title {
            font-size: rem(15);

            @media (min-width: $bp-sm) {
                font-size: rem(20);
            }

            @media (min-width: $bp-md) {
                font-size: rem(26);
            }
        }
    }

    &__cards--desktop {
        display: none;
        width: 100%;
        margin-top: $space-2;

        @media (min-width: $bp-lg) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 0;
        }
    }

    .card {
        &__wrap {
            display: flex;
            flex-direction: column;
            gap: rem(10);
            padding: $space-2;
        }

        &--service {
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            min-height: auto;
            border-radius: $radius-md;

            @media (min-width: $bp-lg) {
                min-height: rem(260);
                max-height: rem(550);
                display: block;
                border-radius: 0;
                box-shadow: none;
                background: none;

                &+.card--service {
                    margin-left: -7vw;
                }
            }

            @media (min-width: $bp-xl) {
                max-height: rem(600);

                &+.card--service {
                    margin-left: 2vw;
                }
            }

            @media (min-width: $bp-xxl) {
                max-height: rem(1000);

                &+.card--service {
                    margin-left: 2vw;
                }
            }
        }

        &__image {
            height: rem(180);

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            @media (min-width: $bp-lg) {
                height: 100%;
            }

            &--mobile {
                position: relative;
                display: flex;
                justify-content: end;
            }
        }

        &__body {
            border-radius: $radius-pill;
            padding: $space-2;
            background-color: $color-bg;

            @media (min-width: $bp-lg) {
                position: absolute;
                border: none;
                white-space: nowrap;
                left: 45%;
                padding: $space-3;
                bottom: $space-3;
                transform: translateX(-45%);
                background-color: $color-bg;
                border-radius: $radius-pill;
                padding: rem(10) $space-3;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: rem(6);

                .card__title {
                    font-size: $fs-lg;
                    font-weight: 500;
                    color: $color-text;
                    margin: 0;
                }

                .card__text {
                    margin: 0;
                }

                .btn {
                    margin-top: rem(4);
                }
            }
        }
    }
}