.hero {
    padding-block: $space-2;
    overflow: hidden;

    @media (min-width: $bp-md) {
        padding-block: rem(56);
    }

    @media (min-width: $bp-lg) {
        padding-block: $space-5 rem(100);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $space-2;
    }

    &__heading {
        text-align: center;
    }

    &__subtitle {
        font-size: rem(30);
        color: $color-text;
        margin-bottom: 0;

        @media (min-width: $bp-md) {
            font-size: rem(50);
            margin-left: -50%;
        }
    }

    &__title {
        font-size: $fs-xxl;
        width: 100%;
        font-weight: 800;
        line-height: 1.1;

        @media (min-width: $bp-md) {
            font-size: rem(48);
            margin-bottom: rem(32);
            white-space: nowrap;
            margin-left: 15%;
        }

        @media (min-width: $bp-lg) {
            font-size: rem(56);
        }

        @media (min-width: $bp-xl) {
            font-size: rem(80);
        }
    }

    &__cards {
        width: 100%;
        margin-top: $space-2;
    }

    &__cards--mobile {
        display: flex;
        flex-direction: column;

        .card--service {
            position: relative;
        }

        .card__image--mobile {
            position: relative;
            display: flex;
            justify-content: flex-end;

            img {
                height: 100%;
                object-fit: contain;
                max-height: rem(600);
            }
        }

        .card__body {
            position: absolute;
            padding: rem(10);
            border-radius: $radius-pill;
            background-color: $color-bg;
        }

        .card__wrap .card__body:nth-of-type(1) {
            top: rem(50);
            left: rem(60);
        }

        .card__wrap .card__body:nth-of-type(2) {
            top: rem(160);
            left: rem(20);
        }

        .card__wrap .card__body:nth-of-type(3) {
            top: rem(270);
            left: rem(40);
        }

        .card__title {
            font-size: rem(15);

            @media (min-width: $bp-sm) {
                font-size: rem(20);
            }

            @media (min-width: $bp-md) {
                font-size: rem(26);
            }
        }

        @media (min-width: $bp-md) {
            display: none;
        }
    }

    &__cards--desktop {
        display: none;

        @media (min-width: $bp-md) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 0;
        }

        .card--service {
            position: relative;
            display: flex;
            flex-direction: column;
            min-height: auto;
            border-radius: $radius-md;

            @media (min-width: $bp-md) {
                min-height: rem(260);
                max-height: rem(550);
                display: block;
                border-radius: 0;
                box-shadow: none;
                background: none;

                &+.card--service {
                    margin-left: -7vw;
                }
            }

            @media (min-width: $bp-xl) {
                max-height: rem(600);

                &+.card--service {
                    margin-left: 2vw;
                }
            }

            @media (min-width: $bp-xxl) {
                max-height: rem(1000);

                &+.card--service {
                    margin-left: 2vw;
                }
            }
        }

        .card__image {
            height: rem(180);

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            @media (min-width: $bp-md) {
                height: 100%;
            }
        }

        .card__body {
            border-radius: $radius-pill;
            padding: $space-2;
            background-color: $color-bg;

            @media (min-width: $bp-md) {
                position: absolute;
                bottom: $space-2;
                border: none;
                white-space: nowrap;
                transform: translateX(-45%);
                padding: rem(10) $space-3;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: rem(12);

                .card__title {
                    font-size: rem(15);
                    font-weight: 500;
                    margin: 0;
                }

                .card__text {
                   display: none;
                }

                .btn {
                    margin-top: rem(4);
                }
            }

            @media (min-width: $bp-lg) {
                .card__text {
                    display: block;
                    margin: 0;
                    max-width: rem(290);
                    white-space: normal;
                }

                .card__title {
                    font-size: rem(20);
                }
            }
        }

        .card--service--motor .card__body {
            @media (min-width: $bp-md) {
                left: 35%;
            }
        }

        .card--service--health .card__body {
            @media (min-width: $bp-md) {
                left: 38%;
                background-image: url("../images/bg-baner.png");
                background-color: transparent;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center rem(20);
                width: 90%;
                padding: rem(30) 0 rem(20) 0;
                bottom: 0;
                border-radius: 0;
            }

            @media (min-width: $bp-lg) {
                background-position: center rem(10);
            }
        }

        .card--service--home .card__body {
            @media (min-width: $bp-md) {
                left: 45%;
            }
        }
    }
}