.nav {
    position: relative;
    display: flex;
    align-items: center;
    gap: $space-2;

    &__toggle {
        width: rem(32);
        border: none;
        height: rem(32);
        border-radius: 50%;
        background-color: $color-bg;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2000;

        &::before,
        &::after {
            content: "";
            width: rem(18);
            height: rem(2);
            background-color: $color-text;
            border-radius: $radius-pill;
            position: absolute;
            transition: transform 0.25s ease, opacity 0.25s ease;
        }

        &::before {
            transform: translateY(rem(-3));
        }

        &::after {
            transform: translateY(rem(3));
        }

        @media (min-width: $bp-lg) {
            display: none;
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: rem(96) $space-3 rem(32);
        position: fixed;
        inset: 0;
        background-color: $color-bg;

        display: flex;
        flex-direction: column;
        gap: $space-2;
        align-items: center;
        justify-content: flex-start;

        transform: translateY(-100%);
        opacity: 0;
        transition: transform 0.35s ease, opacity 0.35s ease;

        @media (min-width: $bp-lg) {
            position: static;
            background: transparent;
            padding: 0;
            opacity: 1;
            flex-direction: row;
            gap: $space-3;
            align-items: center;
            justify-content: flex-end;
            transform: none;
        }
    }

    &__link {
        display: inline-flex;
        align-items: center;
        padding: $space-1 $space-2;
        font-size: $fs-md;
        color: $color-text-muted;
        position: relative;
        text-decoration: none;

        @media (min-width: $bp-lg) {
            padding: rem(4) 0;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: rem(-4);
            width: 0;
            height: rem(2);
            border-radius: $radius-pill;
            background-color: $color-primary;
            transition: width 0.2s ease;
        }

        &:hover,
        &:focus-visible {
            color: $color-text;
        }

        &:hover::after,
        &:focus-visible::after {
            width: 100%;
        }
    }

    &--open {
        .nav__list {
            transform: translateY(0);
            opacity: 1;
            z-index: 1000;
            background-color: $color-primary;
        }

        .nav__link {
            color: $color-bg;
            font-size: rem(25);
        }

        .nav__toggle::before {
            transform: rotate(45deg);
        }

        .nav__toggle::after {
            transform: rotate(-45deg);
        }
    }
}