* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $font-base;
  font-size: $fs-md;
  line-height: 1.5;
  color: $color-text;
  background-color: $color-bg;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  margin: 0;
  padding-left: rem(0);
}

p {
  margin-top: 0;
  margin-bottom: rem(12);
  color: $color-text-muted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  color: $color-text;
  font-family: $font-title;
}

h1 {
  font-size: $fs-xxl;
}

h2 {
  font-size: $fs-xl;
}

h3 {
  font-size: $fs-lg;
}

h4 {
  font-size: $fs-md;
  font-weight: 600;
}

.section__title {
  text-align: center;
  font-size: $fs-xl;
  margin-bottom: rem(10);
}

.card__text {
  font-size: $fs-md;
  color: $color-text;
}