@use "sass:color";

.section-heading {
    text-align: center;
    margin-bottom: rem(40);

    &__title {
        font-size: $fs-xl;
        color: $color-text;
    }

    &__decor {
        margin: 0 auto;
        width: fit-content;
    }
}

// =====================================
// Buttons
// =====================================

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: rem(8);
    padding: $space-2 rem(32);
    border-radius: $radius-pill;
    border: rem(2) solid transparent;
    font-size: $fs-md;
    background-color: transparent;
    color: $color-text;
    cursor: pointer;

    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        border-color 0.3s ease,
        transform 0.3s ease;

    &:active {
        transform: translateY(rem(1));
    }

    &--primary {
        background-color: $color-bg;
        border-color: $color-primary;

        &:hover {
            background-color: $color-primary-light;
            border-color: $color-primary;
            color: $color-primary;
            transform: translateY(rem(-2));
        }
    }

    &--full {
        background-image: linear-gradient(to right,
                #004fa8, #0077d1,
                #022d5e, #085794
            );

        background-size: 300% 100%;
        background-position: 0% 50%;
        color: $color-bg;
        border: none;
        cursor: pointer;
        transition: background-position 0.5s ease;

        &:hover {
            background-position: 100% 50%;
        }
    }

    &--sm {
        padding: rem(15) rem(20);
        font-size: $fs-sm;
    }

    &--md {
        padding: rem(12) rem(26);
        font-size: $fs-md;
    }

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &--blue {
            color: $color-primary;
        }
    }
}